[submodule "Modules/Utils"]
	path = Modules/Utils
	url = https://github.com/Tellicious/ADV-utils
	branch = main
[submodule "Modules/miniPrintf"]
	path = Modules/miniPrintf
	url = https://github.com/Tellicious/STM32-miniPrintf
	branch = main
[submodule "Modules/smartLED"]
	path = Modules/smartLED
	url = https://github.com/Tellicious/STM32-smartLED
	branch = main
